@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@100&family=Roboto+Slab:wght@100;400&family=Roboto:wght@100;700&display=swap');

$monterrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;
$roboto-slab: 'Roboto Slab', serif;
